[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "==0.24.1"
flask = "*"
xgboost = "==1.5.0"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
